@font-face {
  font-family: "digital-deco";
  src: url("./fonts/digital-deco.regular.ttf");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "digital-deco";
}
